* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #05121f;
  font-family: "Roboto", sans-serif;
  color: #fff;
  overflow-x: hidden;
}
ul{
  margin:0;
}
.blue-text {
  color: #0ededa;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}
.navbar {
  background-color: #05121f;
}
.nav-item,
.navbar-nav {
  position: relative;
  z-index: 2;
}
.nav-item .nav-link {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}
/* .nav-link:before {
    position:absolute;
    bottom:0;
    background:#ffffff;
    height:2px;
    display:block;
    content:"";  
    width:0;
    transition:0.5s all ease-in;  
  } */
  .nav-link:hover {
    color:#1363df;
    font-weight:600;
  }
  /* .nav-link:before {
    bottom:0;
    left:0;
  } */
.nav-btns {
  display: flex;
}
.button-1 {
  color: #fff;
  border: 3px solid #0ededa;
  background-image: -webkit-linear-gradient(
    30deg,
    #1363df 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #1363df 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-1:hover {
  background-position: 100%;
  color: #0ededa;
}
.login-btn {
  background-color: #0ededa;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
}
.login-btn a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.start-btn {
  background-color: #1363df;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
}
.start-btn a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
header {
  background-image: url(../Images/bg-infra.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}
.text-area {
  position: relative;
}
header .text-area {
  width: 80%;
  margin: 0 auto;
  margin-top: 120px;
}
header h4 {
  color: #a1a6aa;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom:20px;
}
header h1 {
  color: #fff;
  font-size: 111px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* cursor */

.dot {
  position: fixed;
  width: 8em;
  height: 8rem;
  fill: #1363df;
  top: -4em;
  left: -4em;
  opacity: 0;
  transform: scale(0);
  transform-origin: 50% 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}
/* cursor-end */
.who-container {
 
  margin: 80px 0;
  height:100vh;

}
.who-container .head-text {
  display: flex;
  margin-bottom: 24px;
}
.who-container .head-text h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.who-container .head-text h4:before {
position:absolute;
content:"";
top: -7px;
left: -13px;
background-image: url(../Images/infra-icon.png);
width:20px;
height:20px;
}
.who-container .sub-text {
  width: 85%;
}
.who-container .sub-text p {
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 43px;
}
/* gsap */
.line {
  /* width: 70%;
  height: 90px; */
  /* position: relative; */
  overflow: hidden;
}
/* .line, .lineOne, .lineTwo {
    position: absolute;
    top: 0;
  } */
.line span {
  position: absolute;
  font-size: 5rem;
  line-height: 4.2rem;
}
.lineOne {
  /* width: 70%;
  height: 90px; */
  /* position: relative; */
  overflow: hidden;
}
.lineOne span {
  position: absolute;

  font-size: 5rem;
  line-height: 4.2rem;
}
.lineTwo {
  /* width: 70%;
  height: 90px; */
  /* position: relative; */
  overflow: hidden;
}
.lineTwo span {
  position: absolute;
  font-size: 5rem;
  line-height: 4.2rem;
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 90px;
  overflow: hidden;
  text-transform: uppercase;
}

.main h1{
  margin-bottom: 0px;
}

.main span:not([style]){
  opacity: 0;
}

/* scroll */
.wrapper {
  display: flex;
}
.demo-text .text {
  font-size: clamp(4rem, 15vw, 8rem);
  line-height: 1;
  font-weight: 900;
}
.bottom-txt{
  display:flex;
  justify-content: space-between;
  width:80%;
  margin-top:50px;
}
.text{
  width:60%;
}
.text p{
  font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px;
color:#fff;

}
.rating-container{
  padding:80px 0;
  height:100vh;
}
.rate-cont-main{
  display:flex;
}
.rating-box{
  display:flex;
  align-items: center;
  margin-right:50px;
  min-width:55%;
  width:100%;
}
.numberWrap h4{
  font-size: 140px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-right:40px;
letter-spacing: -2.8px;
background: -webkit-linear-gradient(121deg, #00FEAF -32.59%, #1363DF 87.07%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.textWrap p{
  font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.card-container{
  height:100vh;
  padding:80px 0;
  position:relative;

}
.card-wrap{
  display:flex;
  /* position:absolute;
  top:25%;
  left:0; */
}
.card{
  display: flex;
  width: 566px;
  min-height:374px;
padding: 36px 32px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
margin-right:30px;
border-radius: 3px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(255, 255, 255, 0.03);
}
/* body {
  overscroll-behavior: none;
  height: 100vh;
}
.container {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
} */
.card-img-top {
  width:auto;
}
.card-body .card-title{
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom:20px;
}
.card-body .card-text{
  color:  #A1A6AA;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
/* .api-container{
  height:100vh;
} */
.card-api{
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: radial-gradient(78.57% 78.55% at 50% 50%, rgba(14, 222, 218, 0.09) 0%, rgba(14, 222, 218, 0.00) 100%), #05121F;
  width: 100%;
  display:flex;
  margin-bottom:20px;
}
.card-api .card-right{
  width:50%;
  background: rgba(255, 255, 255, 0.03);
  padding: 0px 52px;

}
.card-api .card-left{
  width:50%;
  display: flex;
  padding: 72px;


}
 .api-container .card-api .card-left .card-body{
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display:flex;
}
.blog-main{
  display:flex;
}
.contact-section {
  padding:80px 0;
  display:block;
  border-radius: 25px 25px 0px 0px;
background: var(--black, #05121F);
}
.blog {
  text-align: left;
}
.blog-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}
.blog-card-container a {
  text-decoration:none;
}
.tg-container{
  width: 80%;
  margin: 0 auto;

}
.blog-card img {
  border-radius: 8px;
  min-height: 237px;
}
.blog *:not(:last-child) {
  margin-bottom: 0px;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.blog-para h3,p{
  color:#fff;
}
.blog-para .posted-on{
  color:  #A1A6AA;
  font-family: Aspekta;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  margin:16px 0;
}
footer{
  background:  #05121F;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding:30px 0;
}

.sub-footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
footer ul{
  display:flex;
  list-style: none;
}
footer ul li{
margin-right:56px;
}

